# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/

# Android/Gradle
.gradle/
local.properties

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
